@model herman_v2.Models.Video

@{
    ViewBag.Title = "Add Video";

    var srch = ViewData["uvs"];
    string vid = (string)ViewData["vid"];

    if (vid == null)
    {
        vid = "0";
    }
}
<h2>Add Video</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.Hidden("video_id", vid)
        <div class="form-group">
            Step 1: Search Title
            <div class="col-md-10">
                @Html.TextBox("Search", "", new { @class = "form-control" }) <input type="submit" name="submit" value="Search" class="btn btn-default" onclick="Search4Video(); return false" />
            </div>
        </div>
    </div>
}

<div id="SearchResults"></div>

<div id="TMDBVideoDetail"></div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script>
        function Search4Video() {

            var search = $('input[type="text"][name$="Search"]').val();

            $.get('@Url.Action("SearchForVideo")' + '?search=' + search, function (data) {
                $('#SearchResults').empty();
                $('#SearchResults').append(data);
            }).fail(function (jq, stat, err) {
                alert('Error: ' + err);
            });
        }

        function GetTMDBVideoDetails(id) {

            $.get('@Url.Action("GettmdbVideoDetails")' + '?id=' + id + '&video_id=' + @vid + '&VHS=@Model.VHS.ToString()&DVD=@Model.DVD.ToString()&BLURAY=@Model.BLURAY.ToString()&DIGITAL=@Model.DIGITAL.ToString()' , function (data) {
                $('#TMDBVideoDetail').empty();
                $('#TMDBVideoDetail').append(data);
                $('#SearchResults').empty();
            }).fail(function (jq, stat, err) {
                alert('Error: ' + err);
            });
        }

</script>
}
