@model herman_v2.Models.tmdbVideoDetails
@{
    var dir_name = "";
    var dir_id = 0;

    foreach (var item in Model.credits.crew)
    {
        if (item.job == "Director")
        {
            dir_name = item.name;
            dir_id = item.id;
        }
    }

    var rlist = (from r in Model.release_dates.results where r.iso_3166_1 == "US" select r).FirstOrDefault();
    var rating = "";

    foreach (var item in rlist.release_dates)
    {
        if (item.certification != "")
        {
            rating = item.certification;
        }
    }

    var genre = (from g in Model.genres select g.name).FirstOrDefault();

}

@using (Html.BeginForm("AddVideo", "Home"))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Video Detailss</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.Hidden("video_id", Model.video_id)
    @Html.Hidden("tmdb_id", Model.id)
    @Html.HiddenFor(model => model.imdb_id)
    @Html.Hidden("Plot", Model.overview)
    @Html.Hidden("Box_Cover", Model.poster_path)
    @Html.Hidden("Release_Date", DateTime.Parse(Model.release_date).Year)
    @Html.Hidden("lengthtxt", Model.runtime)
    @Html.Hidden("Tagline", Model.tagline)
    @Html.Hidden("Video_Name", Model.title)
    @Html.Hidden("ratingtxt", rating)
    @Html.Hidden("dir_name", dir_name)
    @Html.Hidden("category_name", genre)

    <dl>
        <dd>
            <img src="https://image.tmdb.org/t/p/w220_and_h330_face/@Model.poster_path" />
        </dd>
        <dt>Title</dt>
        <dd>
            @Html.DisplayFor(model => model.title)

        </dd>
        <dt>Director</dt>
        <dd>
            @dir_name
        </dd>
        <dt>Year</dt>
        <dd>
            @Html.DisplayFor(model => model.release_date)
        </dd>
        <dt>Runtime</dt>
        <dd>
            @Html.DisplayFor(model => model.runtime)
        </dd>
        <dt>Category</dt>
        <dd>
            @genre
        </dd>
        <dt>Rating</dt>
        <dd>
            @rating
        </dd>
        <dt>Tagline</dt>
        <dd>
            @Html.DisplayFor(model => model.tagline)
        </dd>
        <dt>Plot</dt>
        <dd>@Html.DisplayFor(model => model.overview)
        <dt>VHS</dt>
        <dd> @Html.CheckBox("VHS", new { @class = "form-control" })</dd>
        <dt>DVD</dt>
        <dd> @Html.CheckBox("DVD", new { @class = "form-control" })</dd>
        <dt>BLURAY</dt>
        <dd> @Html.CheckBox("BLURAY", new { @class = "form-control" })</dd>
        <dt>DIGITAL</dt>
        <dd> @Html.CheckBox("DIGITAL", new { @class = "form-control" })</dd>
    </dl>
    <input type="submit" value="Add to Collection" class="btn btn-default btn-secondary" />
</div>

    }

