@model IEnumerable<herman_v2.Models.tmdbResult>

<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.profile_path != null)
        {
            <tr>
                <td>
                    <img src="https://image.tmdb.org/t/p/w90_and_h90_face/@item.profile_path" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                    <br />
                    @Html.ActionLink(item.name, getchar4actor(item.id))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
            </tr>
        }
    }

</table>
