@model herman_v2.Models.actor

@{
    ViewBag.Title = "View Actor";
    var mymovielist = Model.mymovies;
}

<h2>View Actor</h2>

<div>
    <dl>
        <dd>
            <img src=https://image.tmdb.org/t/p/w90_and_h90_face/@Model.actor_photo class=actor />
            @if (Model.actor_name != null)
            {
                @Html.DisplayFor(model => model.actor_name)
            }
            else
            {
                @Html.DisplayFor(model => model.actor_fullname)
            }
        </dd>
    </dl>
</div>
<div>
    <dl>
        @foreach (var item in mymovielist)
        {
            <dd>
                <a href="@Url.Action("VideoDetails","Home", new { id=item.video_id })">
                    @item.Release_Date
                    --
                    @item.Video_Name
                    --
                    @if (item.char_name != null)
                    {
                        @item.char_name
                    }
                    else
                    {
                        @item.char_fullname
                    }
                </a>
            </dd>
        }
    </dl>
</div>