@model herman_v2.Models.actor

@{
    ViewBag.Title = "View Actor";
    var mymovielist = Model.mymovies;
}

<h2>View Actor</h2>

<div>
    <dl>
        <dd>
            <img src=https://image.tmdb.org/t/p/w90_and_h90_face/@Model.actor_photo class="actor actor-main" />
            <span id="actor-name">
                @if (Model.actor_name != null)
                {
                    @Html.DisplayFor(model => model.actor_name)
                }
                else
                {
                    @Html.DisplayFor(model => model.actor_fullname)
                }
            </span>
            <span id="counts">
                <b>@Model.FilmCount</b> Films
                <b>@Model.CollectionCount</b> in Collection
            </span>
        </dd>
    </dl>
</div>
<div id="movie-list">
    <dl>
        @foreach (var item in mymovielist)
        {
            var getclass = "";
            var link = "";
            if(item.inCollection == true)
            {
                getclass = "class=font-weight-bold";
            }
        <dd @getclass>
            @if (item.inCollection == true)
            {
                link = "href = " + Url.Action("VideoDetails", "Home", new { id = item.video_id });
            }
            <a @link>
                @item.Release_Date
                --
                @item.Video_Name
                @if (item.char_name != null)
                {
                    @:--
                    @item.char_name
                }
                else if (item.char_fullname != " ")
                {
                    @:--
                    @item.char_fullname
                }
            </a>
        </dd>
        }
    </dl>
</div>